// Archivo para los components de la página, como formularios, botones, etc
.nav-link:not( .active ) {
  background-color: $c-primary--darker;
  color: #fff;
}

.submit-btn {
  width: 15rem;
}

.contact-form__username::after {
  content: "";
  display: block;
  height: 3.5rem;
  width: 3.5rem;
  // top: 0;
  // left: 0;
  position: absolute;
  background-image: url( sources/user.svg );
}

.nav-tabs__1 {
  border-radius: 24px 0 0 0 !important;
}

.nav-tabs__2 {
  border-radius: 0 24px 0 0 !important;
}

.input-bg-gray {
  background-color: #f7f7f7;
}

.btn-submit {
  font-size: .87rem;
}

.tab-panel-wrp--height {
  min-height: 40rem;
}

.tab-panel-wrp--width {
  max-width: 29.6rem;
}

.user-icon-pseudo::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1000;
  height: 1.3rem;
  top: .9rem;
  left: 1.75rem;
  width: 1.3rem;
  background-image: url( sources/user.svg );
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(.8);
}

.mail-icon-pseudo::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1000;
  height: 1.3rem;
  top: .9rem;
  left: 1.75rem;
  width: 1.65rem;
  background-image: url( sources/mail.svg );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: scale(.75);
}

.lock-icon-pseudo::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1000;
  height: 2.25rem;
  top: .3rem;
  left: 1.75rem;
  width: 1.85rem;
  transform: scale(.75);
  background-image: url( sources/lock.svg );
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media ( max-width: 480px ) {

  .modal-icon-responsive {
    width: 50% !important;
  }

}
