// Archivo para sobreescribir ciertos estilos

// Sobreescribe estilos de Boostrap
.text-primary {
  color: $c-primary !important;
}

.bg-primary {
  background-color: $c-primary !important;
}

.bg-primary--darker,
.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: $c-primary--darker !important;
}

.s-main--background {
  background-image: url( sources/background.jpg );
}

.rounded {
  border-radius: 25px !important;
}

.modal-body--line-height {
  line-height: 2.25;
}
