/* Utilities */
.font-semibold {
  font-weight: 700;
}

.h-min-content {
  height: min-content;
}

.whole-12cols {
  grid-template-columns: repeat( 12, 1fr );
}

.bg-dark-layer {
   background-color: rgba( 0, 0, 0, .5 );
   background-blend-mode: multiply;
}

.grid-wrp {
  display: grid !important;
}

.outline-0-onfocus:focus {
  outline: 0 !important;
}

.background-no-repeat-cover {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center;
}

.bg-attachment-fixed {
  background-attachment: fixed !important;
}

.cursor-pointer {
  cursor: pointer;
}

.overflow-hidden {
  overflow-x: hidden !important;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute !important;
}

.position-fixed {
  position: fixed;
}

.h-100vh {
  height: 100vh;
}

.box-shadow {
  box-shadow: 0 0 8px rgba(0, 0, 0, .3);
}

.font-uppercase {
  text-transform: uppercase;
}

.flip {
  transform: scale(-1);
}

.font-grow {
  font-size: 1.5rem !important;
}

.transition {
  transition: all 270ms ease;
}

.font-3rem {
  font-size: 3rem !important;
}

.justify-self-start {
  justify-self: start;
}

.align-items-center {
  align-items: center;
}

.align-self-center {
  align-self: center;
}

.justify-self-end {
  justify-self: end;
}

.justify-items-center {
  justify-items: center;
}

.justify-items-end {
  justify-items: end;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-self-center {
  justify-self: center !important;
}
