body {
  font-family: "Open Sans", sans-serif; }

/* Utilities */
.font-semibold {
  font-weight: 700; }

.h-min-content {
  height: min-content; }

.whole-12cols {
  grid-template-columns: repeat(12, 1fr); }

.bg-dark-layer {
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply; }

.grid-wrp {
  display: grid !important; }

.outline-0-onfocus:focus {
  outline: 0 !important; }

.background-no-repeat-cover {
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center center; }

.bg-attachment-fixed {
  background-attachment: fixed !important; }

.cursor-pointer {
  cursor: pointer; }

.overflow-hidden {
  overflow-x: hidden !important; }

.position-relative {
  position: relative; }

.position-absolute {
  position: absolute !important; }

.position-fixed {
  position: fixed; }

.h-100vh {
  height: 100vh; }

.box-shadow {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3); }

.font-uppercase {
  text-transform: uppercase; }

.flip {
  transform: scale(-1); }

.font-grow {
  font-size: 1.5rem !important; }

.transition {
  transition: all 270ms ease; }

.font-3rem {
  font-size: 3rem !important; }

.justify-self-start {
  justify-self: start; }

.align-items-center {
  align-items: center; }

.align-self-center {
  align-self: center; }

.justify-self-end {
  justify-self: end; }

.justify-items-center {
  justify-items: center; }

.justify-items-end {
  justify-items: end; }

.justify-content-center {
  justify-content: center !important; }

.justify-self-center {
  justify-self: center !important; }

.nav-link:not(.active) {
  background-color: #773ac4;
  color: #fff; }

.submit-btn {
  width: 15rem; }

.contact-form__username::after {
  content: "";
  display: block;
  height: 3.5rem;
  width: 3.5rem;
  position: absolute;
  background-image: url(sources/user.svg); }

.nav-tabs__1 {
  border-radius: 24px 0 0 0 !important; }

.nav-tabs__2 {
  border-radius: 0 24px 0 0 !important; }

.input-bg-gray {
  background-color: #f7f7f7; }

.btn-submit {
  font-size: .87rem; }

.tab-panel-wrp--height {
  min-height: 40rem; }

.tab-panel-wrp--width {
  max-width: 29.6rem; }

.user-icon-pseudo::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1000;
  height: 1.3rem;
  top: .9rem;
  left: 1.75rem;
  width: 1.3rem;
  background-image: url(sources/user.svg);
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(0.8); }

.mail-icon-pseudo::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1000;
  height: 1.3rem;
  top: .9rem;
  left: 1.75rem;
  width: 1.65rem;
  background-image: url(sources/mail.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: scale(0.75); }

.lock-icon-pseudo::before {
  content: "";
  display: block;
  position: absolute;
  z-index: 1000;
  height: 2.25rem;
  top: .3rem;
  left: 1.75rem;
  width: 1.85rem;
  transform: scale(0.75);
  background-image: url(sources/lock.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

@media (max-width: 480px) {
  .modal-icon-responsive {
    width: 50% !important; } }
.text-primary {
  color: #ac35ff !important; }

.bg-primary {
  background-color: #ac35ff !important; }

.bg-primary--darker,
.btn-primary,
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background-color: #773ac4 !important; }

.s-main--background {
  background-image: url(sources/background.jpg); }

.rounded {
  border-radius: 25px !important; }

.modal-body--line-height {
  line-height: 2.25; }

/*# sourceMappingURL=style.css.map */
